extends layout

block content
  h1= title
  p Welcome to #{title}
  each message in messages
    div
      p User: #{message.user}
      p Text: #{message.text}
      p Created at: #{message.added}
      hr
